 <!-- classblog_list.html-->

 <!DOCTYPE html>
 <html lang="ko">
 <head>
     <meta charset="UTF-8">
     <title>CBV연습</title>
 </head>
 <body>
     <a href="{% url 'new' %}">추가</a>
     <br> 
     {%for blog in object_list%} <!-- object_list : 디폴트로 지정한 모델로 만들어진 모든 객체의 목록이 자동적으로 담겨져있음
    이거를 바꿀려면 views.py에서 context_object_name = 'blog_list' 로 바꿔줘야한다.-->
     
         <h2>{{blog.title}}</h2>
         <h5>{{blog.created_at}}</h5>
         <p>{{blog.body}}</p>
         <a href = "{% url 'detail' blog.id %}"> 자세히 보기</a> <br>
         <a href = "{% url 'change' blog.id %}"> 수정 </a> <br>
         <a href = "{% url 'del' blog.id %}"> 삭제 </a> <br>
         <hr>
     {%endfor%}
 </body>
 </html>